* {
  box-sizing: border-box;
}


html {
  position: absolute;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

body {
    height: 100%;
    margin: 0 0 50px; /* bottom = footer height */
}

img {
    width: 100%;
    height: auto;
}

#home-bg { 
  background: url(../img/index-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*/////////////////////////
//////  NAVIGATION  //////
///////////////////////*/

#top-nav-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  width: 300px;
  height: 100%;
  position: fixed;
  left: -300px;
  top: 0;
  background: #263238;
  color: white;
  text-transform: uppercase;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

nav ul {
  margin: 100px 0 0 40px;
  padding:0;
}

nav ul li {
  vertical-align: middle;
  list-style-type: none;
  padding: 10px 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
  opacity: 0.5;
}

nav .logo {
  padding-bottom: 100px;
  font-size: 1.2em;
}

nav p {
  font-weight: 400;
  padding-bottom: 20px;
}

/*/////////  NAV BUTTONS  //////////*/

#nav-toggle span { 
  position: absolute; 
  left: 3%; 
  top: 30px; 
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  z-index: 10;
}

#nav-toggle span:before {
  top: -7px;
}

#nav-toggle span:after {
  bottom: -7px; 
}

#nav-close span { 
  position: absolute; 
  left: 250px; 
  top: 30px; 
}

#nav-close span, 
#nav-close span:before,
#nav-close span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  z-index: 10;
}

#nav-close span {
  background-color: transparent;
  z-index: 1000;
}

#nav-close span:before, 
#nav-close span:after {
  top: 0;
}

#nav-close span:before {
  transform: rotate(45deg);
}

#nav-close span:after {
  transform: rotate(-45deg);
}


  /*/////////////////////////
 ////////// ICONS //////////
/////////////////////////*/

nav ul li a img {
  display: inline-block;
  height: 20px;
  width: 20px;
  fill: #fff;
  margin: 0 10px 0 0;
}


  /*/////////////////////////
 ////////// CONTENT ////////
/////////////////////////*/


#content-area {
  width: 100%;
  padding: 70px 10% 0 13%;
}

#top-nav {
  margin: 0;
  padding-top: 18px;
  height: 60px;
  background: #263238;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #455A64;
  text-transform: uppercase;
  margin: 20px 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 13%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #455A64;
  padding: 30px 0 10px;
  margin: 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #455A64;
  padding: 10px 0 0 0;
  margin: 0;
}

h3 span {
  color: #D84315;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  /*text-transform: uppercase;*/
  font-weight: 600;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #D84315;
}

#right-panel {
  width: 100%;
  padding-top: 10px;
}

.info-card {
  display: inline-block;
  width: 90%;
  max-width: 300px;
  margin: 20px 20px 0 0; 
  background-color: white;
  font-size: .8em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.description {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.description h3 {
  padding-top: 0;
}

th {
  text-align: left;
}

.recipe-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #607D8B;
}

.recipe-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.description table {
  margin-top: 10px;
  display: none;
  font-size: .9em;
}

.description table th, tr, td {
  padding: 5px 10px 0 0;
  vertical-align: top;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.info-card img {
  cursor: pointer;
}

.break {
  margin: 40px 0;
}

#logo {
  position: fixed;
  top: 65%;
  left: 13%;
  width: 60%;
}

#cocktail-origin-toggle {
  color: #D84315;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
}

#cocktail-origin-stories {
  display: none;
}

#cocktail-origin-stories ul li {
  padding: 5px 0;
}

#classic-cocktails-list h4 {
  font-weight: 300;
  color: #D84315;
  cursor: pointer;
}

.classic-cocktail-info {
  display: none;
}

.note {
  font-size: .7em;
  font-weight: 300;
}

#bbar-mark {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.brand-img {
  width: 60px;
  float: right;
}

.brand-img-h-150 {
  height: 150px;
  width: auto;
  float: right;
}

.glassware-img {
  height: 100px;
  width: auto;
}

.glassware-card {
  display: inline-block;
  font-size: .7em;
  padding-right: 40px;
  text-align: center;
}

.tools-img {
  width: 70px;
  float: right;
}

.brand-card {
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: .9em;
  display: none;
}

.orange {
  color: #D84315;
}

.light-gray-bg {
  background: #ECEFF1;
}

.toggle {
  cursor: pointer;
}

#garnishes-table tr td {
  padding: 5px 40px 5px 5px;
}

  /*//////////////////////////
 ////////// TAXONOMY ////////
//////////////////////////*/

.liqour {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 2px solid #BF360C;
}

.liqour-level-1 {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 2px solid #E64A19;
}

.liqour-level-2 {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 2px solid #FF5722;
}


